.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 115px;
  width: 100%;
  height: 100%;
  background-color: #dadbf1;
}

.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  width: 90%;
}

.search-title {
  font-size: 80px;
  font-weight: 400;
  margin: 0 0 1rem;
}

.search-box {
  width: 720px;
  height: 50px;
  border-radius: 5px;
  outline: 2px solid #999cd0;
  border: none;

  padding-left: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.search-box:focus {
  border: none;
  outline: 2px solid #6f729c;
}
